# Python practice problems with for loops, dict, input

In [1]:
# Review Python "input" # this should help with assignments below

In [1]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [3]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [4]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [1]:
# Write code here ...
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [11]:
# Write code here ...
lst = [i for i in range(20) if i%2==0 ]
print(lst)
#OR
for x in range(20):
    if x%2==0:
        print(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
0
2
4
6
8
10
12
14
16
18

In [10]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

'\n3) Define a list of animals to be as follows:\nanimals = ["lion","tiger","elephant","giraffe","zebra"]\n\nNow print animal names using for loop. The output should be as follows:\n1 lion\n2 tiger\n3 elephant\n4 giraffe\n5 zebra\n'

In [10]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]
for i in range(1,len(animals)+1):
    print(i, animals[i-1])

1 lion
2 tiger
3 elephant
4 giraffe
5 zebra

In [9]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

'\n4) Visiting moon every year for next 10 years\nThe weight on moon can be estimated to be 18%  of weight on earth.\nWrite a program which will ask the user to enter current earth weight.\nThen calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.\n\nUse for loop to print weight on moon each year when you visit.\n'

In [8]:
# Write code here ...
wt_on_earth = input("Enter your current weight")
wt_on_moon = float(wt_on_earth) * 0.18
for i in range(1,11):
  wt = i*wt_on_moon
  current_year = 2018
  print("In the year",current_year+i-1, "your weight on moon is:", wt, "pounds")

Enter your current weight160
In the year 2018 your weight on moon is: 28.799999999999997 pounds
In the year 2019 your weight on moon is: 57.599999999999994 pounds
In the year 2020 your weight on moon is: 86.39999999999999 pounds
In the year 2021 your weight on moon is: 115.19999999999999 pounds
In the year 2022 your weight on moon is: 144.0 pounds
In the year 2023 your weight on moon is: 172.79999999999998 pounds
In the year 2024 your weight on moon is: 201.59999999999997 pounds
In the year 2025 your weight on moon is: 230.39999999999998 pounds
In the year 2026 your weight on moon is: 259.2 pounds
In the year 2027 your weight on moon is: 288.0 pounds

###### 5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [17]:
# Write code here ...
add = 0
for i in range(1,101):
    add = add+i
print(add)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [8]:
# Write code here ...
e=[]
for i in range(4):
    user_input = input("Enter any integer")
    e.append(user_input)
sum_of_the_integers = sum(int(i) for i in e)
print(sum_of_the_integers)

Enter any integer2
Enter any integer4
Enter any integer6
Enter any integer8
20

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [32]:
# Write code here ...
prod = 1
for i in range(1,51):
    if i%2 ==0:
        prod = prod*i
print(prod)

520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [ ]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [45]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]
# Write code here ...
max_num = max(myList)
min_num = min(myList)
for i in range(len(myList)):
    if myList[i]==max_num:
        print("Max number is at the position:",i)
for j in range(len(myList)):   
    if myList[j]==min_num:
        print("Min number is at the position:",j)

Max number is at the position: 169
Min number is at the position: 106
Min number is at the position: 195

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [7]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]
# write code here ...
from collections import Counter
counter = Counter(myList)
top_5 = counter.most_common(5)
print(" top-5 highest frequency numbers and no, of occurances:",top_5)

 top-5 highest frequency numbers and no, of occurances: [(17, 7), (77, 6), (84, 5), (75, 5), (58, 5)]

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [1]:
# Write code here 
temp = int(input("Enter temparature to convert:"))
user_input = input("Enter your option: \n A:Centigrade to Fahrenheit  \n B:Fahrenheit to Centigrade \n")
if user_input == "A":
    c=0
    c= ((temp-32)*5)/9
    print("Temperature in Centigrade is", c)
elif user_input == "B":
    f=0
    f=32+(temp*9/5)
    print("Temperature in Fahrenheit is", f)

Enter temparature to convert:100
Enter your option:
 A:Centigrade to Fahrenheit
 B:Fahrenheit to Centigrade
A
Temperature in Centigrade is 37.77777777777778

In [ ]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

In [2]:
# write code here 
for i in range(1,6):
    for j in range(1,6):
        k = i*j
        print(f'{i}X{j}=',k, end =" ")
    print("\n")

1X1= 1 1X2= 2 1X3= 3 1X4= 4 1X5= 5

2X1= 2 2X2= 4 2X3= 6 2X4= 8 2X5= 10

3X1= 3 3X2= 6 3X3= 9 3X4= 12 3X5= 15

4X1= 4 4X2= 8 4X3= 12 4X4= 16 4X5= 20

5X1= 5 5X2= 10 5X3= 15 5X4= 20 5X5= 25